@mixin size($w: null, $h: null) {
    @if $w != null {
        width: $w;
    }

    @if $h != null {
        height: $h;
    }
}

@mixin min-size($w: null, $h: null) {
    @if $w != null {
        min-width: $w;
    }

    @if $h != null {
        min-height: $h;
    }
}

@mixin max-size($w: null, $h: null) {
    @if $w != null {
        max-width: $w;
    }

    @if $h != null {
        max-height: $h;
    }
}
