$Montserrat: (
    "Montserrat-ExtraLight": 200,
    "Montserrat-Light": 300,
    "Montserrat-Regular": 400,
    "Montserrat-Medium": 500,
    "Montserrat-SemiBold": 600,
    "Montserrat-Bold": 700,
    "Montserrat-ExtraBold": 800,
    "Montserrat-Black": 900,
);

@each $name, $value in $Montserrat {
    @font-face {
        font-family: "Montserrat";
        src: url('../fonts/Montserrat/#{$name}.ttf') format("truetype");
        font-weight: $value;
        font-style: normal;
        font-display: swap;
    }
}
